// Place all the styles related to the uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #f5f5f5;
}

/* TOP ROW */
#header {
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 45px;
	padding-top: 15px;
	background:black;
	color: white;
	font-size: 40px;
	z-index: 1;
}

/* SIDE BAR (RIGHT SIDE) */
#nav {
	position: absolute;
	position: fixed;
	left: 0;
	top: 55px;
	width: 100px;
	background: black;
	color: white;
	overflow: auto;
	bottom: 0;
	text-align: center;
	padding: 5px;
}

#nav a {
	color: white;
	text-decoration: none;
}

#nav a:active, #nav a:hover {
	color: black;
	background-color: white;
}


/* MAIN AREA */
#main {
	position: absolute;
	left: 120px;
	right: 10px;
	top: 60px;
	padding-top: 5px;
}

/* "NEW UPLOAD" LINK */
#newlink {
	text-align: center;
}

#newlink a {
	font-size: 15pt;
	font-weight: bold;
	color: white;
	background: black;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
}
#newlink a:hover, #newlink a:active {
	color: black;
	background: #b0adad;
}

/* CRUD LINKS (like 'edit', 'delete', ...) */
.crud_link a {
	text-decoration: none;
	border-bottom: 1px dotted black;
}

#deletealllink {
	 text-align: right;
	 position: absolute;
	 width: 100%;
}

#deletealllink a {
	color: red;
}

/* COMPACT LISTING */
#compactlist {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
#compactlist th {
	border-bottom: 1px solid grey;
	padding-bottom: 4px;
}
#compactlist td {
	padding: 5px;
}
.compact_odd {
	background-color: #dfdfdf;
}
.compact_even {
	background-color: #b0adad;
}

/* DETAILED LISTING */
#mainlist {
	border-collapse: collapse;
	width: 100%;
}
.description_heading {
	font-style: italic;
	margin-bottom: 4px;
}

.description {
	font-weight: bold;
	font-size: 110%;
	margin-bottom: 10px;
}
.entry_left {
	width: 50%;
}
.entry_middle {
	width: 40%;
}
.entry_right {
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 5px;
	width: 10%;
	text-align: center;
}

.entry_right input {
	margin-bottom: 5px;
	font-size: 125%;
	font-weight: bold;
	padding: 5px;
}



.det_l {
	text-align: right;
/* 	font-weight: bold; */
	font-style:italic;
}

.det_r {
	font-weight: bold;
}