<!--  The <h1> title has been moved to _form_edit so that we can show the filename in it  -->

<%= render 'form_edit' %>

<br>
<span class="crud_link"><%= link_to 'Cancel and go to Overview', compact_path %></span>
